{% set menu = {
    "Головна": url_for('index'),
    "Навчання": url_for('study'),
    "Скіли": url_for('skills'),
    "Контакти": url_for('contacts'),
    "Вхід": url_for('login'),
    "Реєстрація": url_for('registration'),
    "Todo": url_for('todo'),
    "Користувачі": url_for('users'),
    "Акаунт": url_for('account'),
    "Вийти": url_for('logout')
} %}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container justify-content-center">
      <a class="navbar-brand" href="{{ url_for('index') }}">Резюме Владислава Глущука</a>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarColor01">
        <ul class="navbar-nav">
          {% for name, url in menu.items() %}
            {% if current_user.is_authenticated %}
              {% if name != "Вхід" and name != "Реєстрація" %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url }}">{{ name }}</a>
                </li>
              {% endif %}
            {% else %}
              {% if name != "Вийти" and name != "Акаунт" %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url }}">{{ name }}</a>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
</nav>


